.orbit-next,.orbit-previous{
  color:#929396;
}
button.orbit-previous, button.orbit-next{
  background:lightgrey;
  border-radius:5px;
}
.orbit-caption{
  background:transparent;
  font-weight: bold;
  border-radius:5px;
  text-align: center;
  color:grey;
  z-index: 1;
}
.euler_carousel_info{
  text-align: right;
  margin-top: 0;
  margin-bottom: 0px;
  color:#999;
  font-size:12px;
}
.euler_carousel_titre {
  text-align: center;
  /*margin-top: 0px;*/
  margin-bottom: 0px;
}

.button:hover, .button:focus {
    background-color: #ededed;
    color: #126195; }

.dropdown-pane{
	background-color: #ededed;
	width : 10em;
}

#actualites.scroller, #exemples.scroller {
  height: 25em;
  overflow-y: scroll;
  scrollbar-width: thin;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	#actualites.scroller, #exemples.scroller {
	  height: 20em;
	  overflow-y: scroll;
	  scrollbar-width: thin;
	}
}